# ==== Virtual Environments ====
CodeCrackers/
venv/
Lib/
Scripts/
Include/
pyvenv.cfg
__pycache__/

# ==== Python ====
*.pyc

# ==== Data (never push) ====
data/
*.csv
*.zip
*.nii
*.dcm

# ==== Models ====
*.pt
*.pth

# ==== Logs ====
*.log
